body {
    margin: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.columns {
    display: flex;
    flex-grow: 1;
}

.column {
    flex-grow: 1;
    border: 1px solid black;
}

.container {
    flex-grow: 1;
}

.column {
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0.5em;
}

.column .header {
    border-bottom: 1px solid black;
}

.card {
    margin: 0.25em;
    border: 1px solid black;
    padding: 0.25em;
    cursor: move;
    background-color: white;
}

.text_new_card {
    width: 30em;
}