{
  "env": {
	"browser": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
	"indent": ["error", 4],
	"max-len": ["error", 200],
	"react/jsx-indent": [
	  "error", 4, {
		"checkAttributes": true,
		"indentLogicalExpressions": true
	  }
	],
	"react/jsx-indent-props": ["error", 4]
  },
  "settings": {
	"import/resolver": "webpack"
  },
  "overrides": [
	{
	  "files": ["*.js", "*.jsx"]
	}
  ]
}
