.column {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.column > .column-header {
    padding: 0.5em;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
}

.column > .column-body > .column-card {
    min-height: 7em;
    max-height: 7em;
    margin: 0.5em 0;
    display: flex;
}

.column > .column-body > .column-card > .card {
    flex: 1;
}

.column > .column-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgray;
    overflow: auto;
}

.column.hover {
    background-color: lightgreen;
}